body {
	background-color: $clr-black;
	background-image: url('https://res.cloudinary.com/dmkp6eyi5/image/upload/v1674237645/my-portfolio/bg-hex-dark_ldccoe.png');
	background-attachment: fixed;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}
