body {
	background-color: $clr-black;
	background-image: url("../../../assets/bg-hex-dark.png");
	// background-size: cover;
	// background-attachment: fixed;
	background-size: contain;
	background-repeat: repeat-y;
}

a {
	text-decoration: none;
}

// ul {
// 	list-style-type: none;
// }
