.header-container {
	flex-direction: column;
}

.hero-img-container {
	position: relative;
	width: 100%;
	max-width: 336px;
	height: 396.31px;
	img {
		position: relative;
		z-index: 20;
	}
	// circle behind profile picture
	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: -35px;
		background-color: $clr-teal;
		height: 331.69px;
		width: 100%;
		max-width: 331.69px;
		z-index: 10;
		border-radius: 50%;
		filter: drop-shadow(4px 4px 0 $clr-pink);
	}
}

.hero-text-container {
	margin: 0;
	margin-left: 58px;
	flex-direction: column;
	h1 {
		margin: 50px 0;
	}
	h3 {
		margin: 0 0 calc(50px + 0.5rem) 0;
	}
	a {
		width: 185px;
	}
}
