@media (max-width: 911px) {
	// ------------------------
	// UTILITY
	// ------------------------
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.mobile-wrapper {
		max-width: 336px;
	}
	// ------------------------
	// NAVIGATION
	// ------------------------

	.header-nav {
		// show hamburger icon
		label {
			display: block;
			position: fixed;
			top: 30px;
			right: 30px;
		}
		.desktop {
			display: none;
		}
	}
	// ------------------------
	// HEADER
	// ------------------------

	.hero-img-container {
		margin: 0 auto;
	}
	.hero-text-container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		h1 {
			margin: 30px auto 70px auto;
			text-align: center;
			@include setTypography($ff-primary, $fw-regular, $fs-800, $lh-200);
		}
		h3 {
			margin: 40px 0;
			text-align: center;
			@include setTypography($ff-secondary, $fw-regular, $fs-550);
		}
		a {
			text-align: center;
			width: 95%;
			margin: 0 auto;
		}
	}
	.toolkit-outer-container {
		max-width: 336px;
	}
	.toolkit-inner-container {
		flex-direction: column;
		width: 95%;
	}
	.toolkit-text-container {
		text-align: center;
		margin: 0 auto;
		left: 0;
		h2 {
			@include setTypography($ff-secondary, $fw-regular, $fs-650);
			margin: 25px 0;
		}
		h3 {
			@include setTypography($ff-secondary, $fw-regular, $fs-550);
			margin: 15px 0;
		}
	}
	.toolkit-icon-container {
		width: 65%;
		margin: 30px auto;
		gap: 51px;
	}
}
