@media (max-width: 911px) {
	// ------------------------
	// UTILITY
	// ------------------------
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.mobile-wrapper {
		max-width: 336px;
	}
	// ------------------------
	// NAVIGATION
	// ------------------------
	.header-nav {
		// show hamburger icon
		label {
			display: block;
			position: fixed;
			top: 30px;
			right: 30px;
		}
		.desktop {
			display: none;
		}
	}
	// ------------------------
	// HEADER
	// ------------------------
	.hero-img-container {
		margin: 0 auto;
	}
	.hero-text-container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		h1 {
			margin: 30px auto 70px auto;
			text-align: center;
			@include setTypography($ff-primary, $fw-regular, $fs-800, $lh-200);
		}
		h3 {
			margin: 40px 0;
			text-align: center;
			@include setTypography($ff-secondary, $fw-regular, $fs-550);
		}
		a {
			text-align: center;
			width: 95%;
			margin: 0 auto;
		}
	}

	// ------------------------
	// TOOLKIT
	// ------------------------
	.toolkit-outer-container {
		max-width: 336px;
	}
	.toolkit-inner-container {
		flex-direction: column;
		width: 95%;
	}
	.toolkit-text-container {
		text-align: center;
		margin: 0 auto;
		left: 0;
		h2 {
			@include setTypography($ff-secondary, $fw-regular, $fs-650);
			margin: 25px 0;
		}
		h3 {
			@include setTypography($ff-secondary, $fw-regular, $fs-550);
			margin: 15px 0;
		}
	}
	.toolkit-icon-container {
		width: 65%;
		margin: 30px auto;
		gap: 51px;
	}

	// ------------------------
	// ABOUT
	// ------------------------
	.about-inner-container {
		flex-direction: column;
		max-width: 336px;
		margin: 0 auto;
	}
	.about-img-container {
		margin: 35px auto;
		width: 90%;
		li {
			width: 100%;
			margin: 0;
		}
		img {
			width: 100%;
		}
	}
	.about-text-container {
		margin: 0;
		ul {
			padding: 0 0 0 30px;
		}
		p:nth-of-type(1) {
			width: 90%;
			margin: 0 auto;
			@include setTypography($ff-secondary, $fw-regular, $fs-400);
		}
		p:nth-of-type(2),
		p:nth-of-type(3),
		li {
			width: 90%;
			margin: 0 auto;
			@include setTypography($ff-secondary, $fw-regular, $fs-400);
		}
		p:nth-of-type(2),
		p:nth-of-type(3) {
			margin: 35px auto 0 auto;
		}

		h3 {
			text-align: center;
			margin: 0 0 35px 0;
			text-decoration: underline;
			@include setTypography($ff-secondary, $fw-regular, $fs-600);
		}
	}
}
