/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 50; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
	border-radius: 10px;
}

/* Modal Content */
.modal-content {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: $clr-navy;
	width: 100%;
	max-width: 911px;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 20rem;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	padding: 0 35px;
	background-color: $clr-dark-pink;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	h2 {
		margin: 30px 0;
		padding: 0;
	}
}

.modal-body {
	height: 100%;
	padding: 0 35px;
	p {
		margin: 35px 0;
	}
}

/* The Close Button */
.close {
	color: $clr-white;
	font-size: 55px;
	margin: auto 0;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: $clr-black;
	text-decoration: none;
	cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
