// import fonts
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Monoton&display=swap");

// h1 - gabriel wright
h1 {
	@include setTypography($ff-primary, $fw-regular, $fs-700);
	color: $clr-white;
	text-shadow: 0 4px 4px rgba($clr-pink, 0.5);
}

// h2 - my toolkit, recent projects, my journey
h2 {
	@include setTypography($ff-secondary, $fw-regular, $fs-650);
	text-transform: uppercase;
	color: $clr-white;
}

// h3 - I'm a front end, who am i here are some, Hacker News, please feel free
h3 {
	@include setTypography($ff-secondary, $fw-regular, $fs-500);
	color: $clr-white;
}

// paragraphs - an app that fetches, a pixel-perfect replica
p {
	@include setTypography($ff-secondary, $fw-regular, $fs-300);
	color: $clr-white;
}

// modal
.modal {
	h2 {
		@include setTypography($ff-secondary, $fw-bold, $fs-650);
	}
	a {
		@include setTypography($ff-secondary, $fw-bold, $fs-550);
		text-transform: uppercase;
		color: $clr-pink;
		&:hover {
			color: $clr-white;
			text-decoration: underline;
		}
	}
	p {
		@include setTypography($ff-secondary, $fw-regular, $fs-550);
		text-align: justify;
	}
}

// copyright - made with <3 by Gabriel Wright
.copyright {
	@include setTypography($ff-secondary, $fw-regular, $fs-400);
	color: $clr-teal;
}

// small button - Demo, View Source
.sm-button {
	@include setTypography($ff-secondary, $fw-bold, $fs-300);
	color: $clr-black;
	background-color: $clr-teal;
	border-radius: 10px;
	border: none;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	filter: drop-shadow(4px 4px 0 $clr-pink);
	&:hover {
		position: relative;
		top: 4px;
		left: 4px;
		filter: drop-shadow(0 0 0 $clr-pink);
		box-shadow: 0 0 15px $clr-navy, 0 0 25px rgba($clr-white, 0.25),
			0 0 30px rgba($clr-pink, 0.55);
		transition: box-shadow 0.65s ease-in-out;
	}
}

// large button - View Resume
.lg-button {
	@include setTypography($ff-secondary, $fw-bold, $fs-500);
	color: $clr-black;
	background-color: $clr-teal;
	border-radius: 10px;
	border: none;
	padding: 0.75rem 1.25rem;
	text-transform: uppercase;
	filter: drop-shadow(4px 4px 0 $clr-pink);
	&:hover {
		position: relative;
		top: 4px;
		left: 4px;
		filter: drop-shadow(0 0 0 $clr-pink);
		box-shadow: 0 0 15px $clr-navy, 0 0 30px rgba($clr-white, 0.25),
			0 0 35px rgba($clr-pink, 0.55);
		transition: box-shadow 0.65s ease-in-out;
	}
}

// form text inputs - name, email, message
textarea,
[type="text"],
[type="email"],
input::placeholder,
textarea::placeholder {
	@include setTypography($ff-secondary, $fw-regular, $fs-300);
	color: $clr-black;
}

[type="submit"] {
	cursor: pointer;
}

// nav links
.header-nav {
	li {
		a {
			@include setTypography($ff-secondary, $fw-regular, $fs-500);
			text-transform: uppercase;
			color: $clr-white;
			&:hover {
				color: $clr-pink;
			}
		}
	}
}
// toolkit
.toolkit-text-container {
	h3 {
		@include setTypography($ff-secondary, $fw-regular, $fs-500);
	}
}

// tools icons
i {
	color: $clr-white;
	img {
		width: 15px;
	}
}

.about {
	li {
		@include setTypography($ff-secondary, $fw-regular, $fs-300);
		color: $clr-white;
	}
}

// contact link
.contact-text-container {
	a {
		color: $clr-white;
		text-decoration: underline;
	}
}
