//---------------------
// Utility Classes
//---------------------
.wrapper {
	display: flex;
	max-width: 846px;
	width: 100%;
	margin: 0 auto;
}

// mobile-only elements
.mobile {
	display: none;
}

// desktop-only elements
.desktop {
	display: block;
}

// screen reader
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// animations
.hover {
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
