// colors
$clr-black: #000000;
$clr-white: #ffffff;
$clr-teal: #8ecec6;
$clr-pink: #ff00b8;
$clr-navy: #1d2226;

// font family
$ff-primary: "Monoton", cursive;
$ff-secondary: "Comfortaa", cursive;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font size (px)
$fs-700: 59;
$fs-600: 36;
$fs-500: 24;
$fs-400: 20;
$fs-300: 16;

// line height
$lh-100: 32;

// letter spacing
$ls-100: 1;

// paragraph spacing
$gap: 13px;
