// import partials
@import "./partials/setup";
@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/utility";
@import "./partials/base-styles";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/sections";
@import "./partials/media-queries";
