@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Monoton&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border-style: none;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Monoton", cursive;
  font-weight: 400;
  font-size: 2.95rem;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(255, 0, 184, 0.5);
}

h2 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
}

p {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff;
}

.modal h2 {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 2rem;
}
.modal p {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
}
.modal a {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ff00b8;
}
.modal a:hover, .modal a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.contact-text-container a:focus,
.contact-text-container a:hover {
  color: #ff00b8;
}

.copyright {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.1rem;
  color: #80b9b2;
}

.sm-button {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000000;
  background-color: #80b9b2;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(4px 4px 0 #ff00b8);
          filter: drop-shadow(4px 4px 0 #ff00b8);
}
.sm-button:hover, .sm-button:focus {
  position: relative;
  top: 4px;
  left: 4px;
  -webkit-filter: drop-shadow(0 0 0 #ff00b8);
          filter: drop-shadow(0 0 0 #ff00b8);
  -webkit-box-shadow: 0 0 15px #1d2226, 0 0 25px rgba(255, 255, 255, 0.25), 0 0 30px rgba(255, 0, 184, 0.55);
          box-shadow: 0 0 15px #1d2226, 0 0 25px rgba(255, 255, 255, 0.25), 0 0 30px rgba(255, 0, 184, 0.55);
  -webkit-transition: -webkit-box-shadow 0.65s ease-in-out;
  transition: -webkit-box-shadow 0.65s ease-in-out;
  transition: box-shadow 0.65s ease-in-out;
  transition: box-shadow 0.65s ease-in-out, -webkit-box-shadow 0.65s ease-in-out;
}

.lg-button {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000000;
  background-color: #80b9b2;
  border-radius: 10px;
  border: none;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  -webkit-filter: drop-shadow(4px 4px 0 #ff00b8);
          filter: drop-shadow(4px 4px 0 #ff00b8);
}
.lg-button:hover, .lg-button:focus {
  position: relative;
  top: 4px;
  left: 4px;
  -webkit-filter: drop-shadow(0 0 0 #ff00b8);
          filter: drop-shadow(0 0 0 #ff00b8);
  -webkit-box-shadow: 0 0 15px #1d2226, 0 0 30px rgba(255, 255, 255, 0.25), 0 0 35px rgba(255, 0, 184, 0.55);
          box-shadow: 0 0 15px #1d2226, 0 0 30px rgba(255, 255, 255, 0.25), 0 0 35px rgba(255, 0, 184, 0.55);
  -webkit-transition: -webkit-box-shadow 0.65s ease-in-out;
  transition: -webkit-box-shadow 0.65s ease-in-out;
  transition: box-shadow 0.65s ease-in-out;
  transition: box-shadow 0.65s ease-in-out, -webkit-box-shadow 0.65s ease-in-out;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
}

textarea,
[type=text],
[type=email],
input::placeholder,
textarea::placeholder {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000000;
}

[type=submit] {
  cursor: pointer;
}

.header-nav a {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.header-nav a:hover, .header-nav a:focus {
  color: #ff00b8;
  text-shadow: 0 0 15px #ff00b8;
  -webkit-transition: text-shadow 0.65s ease-in-out;
  transition: text-shadow 0.65s ease-in-out;
}

.slide-out-nav button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  right: 5px;
  cursor: pointer;
}
.slide-out-nav button:hover, .slide-out-nav button:focus {
  color: #ff00b8;
  text-shadow: 0 0 10px #ff00b8;
  -webkit-transition: text-shadow 0.65s ease-in-out;
  transition: text-shadow 0.65s ease-in-out;
}

.toolkit-text-container h3 {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 1.2rem;
}

i {
  color: #ffffff;
}
i img {
  width: 15px;
}

.about li {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff;
}

.contact-text-container a {
  color: #ffffff;
  text-decoration: underline;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 846px;
  width: 100%;
  margin: 0 auto;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

body {
  background-color: #000000;
  background-image: url("../../../assets/bg-hex-dark.png");
  background-attachment: fixed;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-nav {
  margin: 3rem 0 0 0;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav input[type=checkbox] {
  opacity: 0;
  position: fixed;
  top: 30px;
  right: 30px;
}
.header-nav input[type=checkbox]:checked ~ .slide-out-nav {
  right: 0;
}
.header-nav i {
  -webkit-transform: scale(2, 1.5);
          transform: scale(2, 1.5);
}
.header-nav label {
  cursor: pointer;
  display: none;
  z-index: 30;
}
.header-nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.slide-out-nav {
  background-color: #000000;
  width: 12rem;
  height: 100rem;
  padding: 0 0 0 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  top: 0px;
  right: -300px;
  z-index: 30;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slide-out-nav .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 1rem;
}
.slide-out-nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-out-nav .main-menu li {
  margin: 10px 0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  border-radius: 10px;
}

/* Modal Content */
.modal-content {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d2226;
  width: 100%;
  max-width: 911px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  background-color: #a60078;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-header h2 {
  margin: 30px 0;
  padding: 0;
}

.modal-body {
  height: 100%;
  padding: 0 35px;
}
.modal-body p {
  margin: 35px 0;
}

/* The Close Button */
.close {
  color: #ffffff;
  font-size: 55px;
  margin: auto 0;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-img-container {
  position: relative;
  width: 100%;
  max-width: 336px;
  height: 396.31px;
}
.hero-img-container img {
  position: relative;
  z-index: 20;
}
.hero-img-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -35px;
  background-color: #80b9b2;
  height: 331.69px;
  width: 100%;
  max-width: 331.69px;
  z-index: 10;
  border-radius: 50%;
  -webkit-filter: drop-shadow(4px 4px 0 #ff00b8);
          filter: drop-shadow(4px 4px 0 #ff00b8);
}

.hero-text-container {
  margin: 0;
  margin-left: 58px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-text-container h1 {
  margin: 50px 0;
}
.hero-text-container h3 {
  margin: 0 0 calc(50px + 0.5rem) 0;
}
.hero-text-container a {
  width: 185px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  margin: 35px auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: -36px;
  padding: 15px 0;
}

.glowing-wrapper {
  display: inline-block;
  position: relative;
  top: -3px;
  padding: 2px;
  border-radius: 50%;
  margin: 1px 3px;
  height: 20px;
  width: 20px;
  -webkit-box-shadow: 0 0 0 0 #ff00b8;
          box-shadow: 0 0 0 0 #ff00b8;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.glowing-wrapper img {
  position: relative;
  top: 2px;
  z-index: 20;
  width: 20px;
  margin: 0 auto;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 184, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 184, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 184, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 184, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 184, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 184, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 184, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 184, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 184, 0);
            box-shadow: 0 0 0 10px rgba(255, 0, 184, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 184, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 184, 0);
  }
}
.toolkit-outer-container {
  margin: 46px auto 0 auto;
  background-color: #80b9b2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  max-width: 911px;
}

.toolkit-inner-container {
  background-color: rgba(29, 34, 38, 0.8);
  border-radius: 10px;
  margin: 33px 0;
  width: 846px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toolkit-text-container {
  text-align: right;
  width: 300px;
  margin: 20px 0;
  position: relative;
  left: -6px;
}
.toolkit-text-container h2 {
  margin: 0 0 18px 0;
}
.toolkit-text-container h3 {
  margin: 0;
}

.toolkit-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  max-width: 451.5px;
  gap: 40px;
  margin-left: 58px;
}
.toolkit-icon-container img {
  width: 100%;
  max-height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.toolkit-icon-container img:hover, .toolkit-icon-container img:focus {
  cursor: pointer;
  -webkit-filter: invert(24%) sepia(69%) saturate(7173%) hue-rotate(306deg) brightness(99%) contrast(119%);
          filter: invert(24%) sepia(69%) saturate(7173%) hue-rotate(306deg) brightness(99%) contrast(119%);
}
.toolkit-icon-container li {
  width: 35px;
  margin: auto 0;
}

.about-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-outer-container h2 {
  margin: 46px auto;
  position: relative;
  right: -58px;
}
.about-outer-container h2::before {
  content: "";
  top: 15px;
  left: -388px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 328px;
  background-color: #ff00b8;
  border-radius: 10px;
}
.about-outer-container h2::after {
  content: "";
  top: 15px;
  left: 240px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 216px;
  background-color: #ff00b8;
  border-radius: 10px;
}

.about-inner-container {
  background-color: #1d2226;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.about-inner-container ul {
  padding: 0;
}

.about-img-container {
  padding: 0;
  margin: 35px 0;
  max-width: 257px;
}
.about-img-container img {
  border-radius: 10px;
}

.about-text-container {
  max-width: 440.5px;
  margin-left: 58px;
  margin-right: 15.5px;
  text-align: justify;
}
.about-text-container ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 15px;
}
.about-text-container h3 {
  margin: 30px 0 0 0;
  text-decoration: underline;
}
.about-text-container p:nth-of-type(1) {
  margin: 50px 0 0 0;
}
.about-text-container p:nth-of-type(2),
.about-text-container p:nth-of-type(3) {
  margin: 20px 0 0 0;
}

.project-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-outer-container h2 {
  margin: 46px auto;
  position: relative;
  right: -128px;
}
.project-outer-container h2::before {
  content: "";
  top: 15px;
  left: -388px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 326px;
  background-color: #ff00b8;
  border-radius: 10px;
}
.project-outer-container h2::after {
  content: "";
  top: 15px;
  left: 355px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 100px;
  background-color: #ff00b8;
  border-radius: 10px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #1d2226;
  margin: 0 0 46px 0;
  border-radius: 10px;
}
.project-container:nth-of-type(2) {
  margin: 0;
}

.project-text-container {
  margin: auto 15.5px auto 58px;
  max-width: 440px;
  padding: 0 0 0.5rem 0;
}
.project-text-container h3 {
  text-decoration: underline;
  margin: 0 0 10px 0;
}
.project-text-container p:nth-of-type(1) {
  margin: 0 0 13px 0;
}
.project-text-container p:nth-of-type(2) {
  text-align: justify;
  margin: 0 0 calc(13px + 0.5rem) 0;
}
.project-text-container a {
  margin: 0 10px 0 0;
}

.project-img-container {
  width: 309.21px;
  position: relative;
  left: 38px;
  top: -20px;
}

.journey-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.journey-outer-container h2 {
  margin: 46px auto;
  position: relative;
  right: -80px;
}
.journey-outer-container h2::before {
  content: "";
  top: 15px;
  left: -388px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 326px;
  background-color: #ff00b8;
  border-radius: 10px;
}
.journey-outer-container h2::after {
  content: "";
  top: 15px;
  left: 268px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 188px;
  background-color: #ff00b8;
  border-radius: 10px;
}

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #1d2226;
  margin: 0 0 46px 0;
  border-radius: 10px;
}
.journey-container:nth-of-type(2) {
  margin: 0;
}

.journey-text-container {
  margin: auto 15.5px auto 58px;
  max-width: 440px;
  padding: 0 0 0.5rem 0;
}
.journey-text-container h3 {
  text-decoration: underline;
  margin: 0 0 10px 0;
}
.journey-text-container p:nth-of-type(1) {
  text-align: justify;
  margin: 0 0 calc(13px + 0.5rem) 0;
}
.journey-text-container a {
  margin: 0 10px 0 0;
}

.journey-img-container {
  width: 309.21px;
  position: relative;
  left: 38px;
  top: -20px;
}

.contact-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-outer-container h2 {
  margin: 46px auto;
  position: relative;
  right: -103px;
}
.contact-outer-container h2::before {
  content: "";
  top: 15px;
  left: -388px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 326px;
  background-color: #ff00b8;
  border-radius: 10px;
}
.contact-outer-container h2::after {
  content: "";
  top: 15px;
  left: 330px;
  position: absolute;
  display: inline-block;
  height: 4px;
  width: 125px;
  background-color: #ff00b8;
  border-radius: 10px;
}

.contact-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-text-container {
  width: 300px;
}
.contact-text-container h3 {
  text-align: right;
}
.contact-text-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 38px;
}
.contact-text-container li {
  margin: auto 0;
}
.contact-text-container li:nth-of-type(2),
.contact-text-container li:nth-of-type(3) {
  padding-top: 5px;
}
.contact-text-container img {
  width: 35px;
}
.contact-text-container img:hover, .contact-text-container img:focus {
  cursor: pointer;
  -webkit-filter: invert(24%) sepia(69%) saturate(7173%) hue-rotate(306deg) brightness(99%) contrast(119%);
          filter: invert(24%) sepia(69%) saturate(7173%) hue-rotate(306deg) brightness(99%) contrast(119%);
}

.contact-form {
  margin-left: 65px;
  width: 455.5px;
}

.contact-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.contact-input-container [type=text],
.contact-input-container [type=email],
.contact-input-container textarea {
  border-radius: 10px;
  padding-left: 5px;
  height: 40px;
  border: none;
}
.contact-input-container textarea {
  padding-top: 10px;
  height: 120px;
}
.contact-input-container [type=submit] {
  width: 70px;
}

@media (max-width: 911px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .wrapper {
    max-width: 500px;
    width: 95%;
  }

  .header-nav label {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .header-nav .desktop {
    display: none;
  }

  .hero-img-container {
    margin: 20px auto;
    max-width: 427.5px;
    height: 100%;
  }
  .hero-img-container::before {
    max-width: none;
    max-height: 427.5px;
    height: 100%;
  }
  .hero-img-container img {
    width: 100%;
  }

  .hero-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .hero-text-container h1 {
    margin: 30px auto 50px auto;
    text-align: center;
    font-family: "Monoton", cursive;
    font-weight: 400;
    font-size: 5.5rem;
    line-height: 6rem;
    width: 95%;
  }
  .hero-text-container h3 {
    margin: 20px auto 40px auto;
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    width: 95%;
  }
  .hero-text-container a {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    max-width: 294px;
  }

  .toolkit-outer-container {
    width: 100%;
    max-width: 475px;
    margin: 90px auto 0 auto;
  }

  .toolkit-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }

  .toolkit-text-container {
    max-width: 340px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    left: 0;
  }
  .toolkit-text-container h2 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 2rem;
    margin: 25px 0;
  }
  .toolkit-text-container h3 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .toolkit-icon-container {
    max-width: 275px;
    width: 100%;
    margin: 30px auto;
    padding: 0;
    position: relative;
    left: 5px;
  }
  .toolkit-icon-container li {
    width: 40px;
    margin: 12px;
  }
  .toolkit-icon-container li img {
    max-height: 45px;
  }

  .modal-content {
    height: 75vh;
  }

  .about span {
    display: block;
  }
  .about h2 {
    margin: 64px auto;
    right: 0;
    text-align: center;
  }
  .about h2::before {
    width: 100px;
    left: -175px;
    top: 32px;
  }
  .about h2::after {
    width: 100px;
    left: 196px;
    top: 32px;
  }

  .about-outer-container {
    overflow-x: hidden;
  }

  .about-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .about-inner-container ul {
    padding: 0;
    width: 100%;
  }
  .about-inner-container ul img {
    width: 90%;
    margin: 0 auto;
  }

  .about-img-container {
    margin: 35px auto;
    width: 100%;
    display: block;
    max-width: none;
  }
  .about-img-container img {
    width: 100%;
  }

  .about-text-container {
    width: 90%;
    margin: 0 auto;
  }
  .about-text-container ul {
    padding: 0 0 0 30px;
  }
  .about-text-container h3 {
    text-align: center;
    margin: 0 0 30px 0;
    text-decoration: underline;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.8rem;
  }
  .about-text-container p:nth-of-type(1) {
    margin: 0;
  }
  .about-text-container p,
.about-text-container li {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .about-text-container li {
    text-align: left;
  }

  .projects span {
    display: block;
  }
  .projects h2 {
    margin: 64px auto;
    right: 0;
    text-align: center;
  }
  .projects h2::before {
    width: 100px;
    left: -148px;
    top: 32px;
  }
  .projects h2::after {
    width: 100px;
    left: 225px;
    top: 32px;
  }

  .project-outer-container {
    overflow-x: hidden;
  }

  .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-container:nth-of-type(1) {
    margin: 0 auto 90px auto;
  }
  .project-container:nth-of-type(2) {
    margin: 0 auto;
  }

  .project-img-container {
    width: 90%;
    margin: 0 auto;
    left: 0;
  }
  .project-img-container img {
    width: 100%;
  }

  .project-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0;
    margin: 0 auto;
    width: 90%;
  }
  .project-text-container a {
    margin: 10px 0;
    text-align: center;
  }
  .project-text-container p {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .project-text-container h3 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
  .project-text-container p:nth-of-type(1) {
    text-align: center;
    margin: 15px 0 25px 0;
  }
  .project-text-container p:nth-of-type(2) {
    text-align: justify;
    margin: 0 0 25px 0;
  }
  .project-text-container span {
    display: block;
  }

  .journey span {
    display: block;
  }
  .journey h2 {
    margin: 64px auto;
    right: 0;
    text-align: center;
  }
  .journey h2::before {
    width: 100px;
    left: -154px;
    top: 32px;
  }
  .journey h2::after {
    width: 100px;
    left: 219px;
    top: 32px;
  }

  .journey-outer-container {
    overflow-x: hidden;
  }

  .journey-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey-container:nth-of-type(1) {
    margin: 0 auto 90px auto;
  }
  .journey-container:nth-of-type(2) {
    margin: 0 auto;
  }

  .journey-img-container {
    width: 90%;
    margin: 0 auto;
    left: 0;
  }
  .journey-img-container img {
    width: 100%;
  }

  .journey-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .journey-text-container a {
    margin: 5px 0;
    text-align: center;
  }
  .journey-text-container p {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.1rem;
  }
  .journey-text-container h3 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
  }
  .journey-text-container p:nth-of-type(1) {
    text-align: justify;
    margin: 25px 0;
  }

  .contact span {
    display: block;
  }
  .contact h2 {
    margin: 64px auto;
    right: 0;
    text-align: center;
  }
  .contact h2::before {
    width: 100px;
    left: -148px;
    top: 32px;
  }
  .contact h2::after {
    width: 100px;
    left: 224px;
    top: 32px;
  }

  .contact-outer-container {
    overflow-x: hidden;
  }

  .contact-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
  }
  .contact-inner-container .contact-form,
.contact-inner-container .contact-input-container,
.contact-inner-container .sm-button,
.contact-inner-container .contact-text-container {
    width: 100%;
    margin: 0 auto;
  }
  .contact-inner-container h3 {
    width: 90%;
    margin: 46px auto;
    text-align: center;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .contact-inner-container ul {
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-inner-container li {
    margin: 0 10px;
  }

  .contact-input-container [type=text],
.contact-input-container [type=email],
.contact-input-container [type=submit],
.contact-input-container textarea {
    padding: auto 20px;
    margin: 5px 0;
  }

  .copyright {
    width: 90%;
    margin: 46px auto 0 auto;
    left: 0;
    gap: 1rem;
  }
}
@media (max-width: 484px) {
  .hero-text-container h1 {
    font-family: "Monoton", cursive;
    font-weight: 400;
    font-size: 4.5rem;
  }
  .hero-text-container h3 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .hero-img-container {
    height: 100%;
  }
  .hero-img-container::before {
    height: 85%;
    width: 100%;
  }

  .toolkit-text-container h3 {
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .contact-text-container ul {
    gap: 2rem;
  }

  .toolkit-icon-container li {
    margin: 12px;
  }

  .copyright {
    gap: 5px;
  }
}
@media (max-width: 396px) {
  .hero-text-container h1 {
    font-family: "Monoton", cursive;
    font-weight: 400;
    font-size: 3.5rem;
  }
}